<div class="container">
    <div style="margin-top:100px;" class="col offset-sm-1">
      <div class="card">
        <div class="card-header colorp">
          <div class="card-title" style="font-size: 22px;">Sign In</div>
        </div>
        <div class="card-body" style="background-color:rgba(209, 205, 205,0.2);padding-bottom: 25px;">
          <form>     
            <div class="formp"></div>            
            <div style="margin-bottom: 15px;margin-top: 25px;">
              <input type="text" class="form-control" name="username" value="" placeholder="Email Address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">                                        
            </div>
            <div style="margin-bottom: 15px" >
              <input type="password" class="form-control" name="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters">
            </div>   
            <div class="input-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="remember" value="1"> Remember me
                </label>
              </div>
            </div>
            <div style="margin-top:10px" class="input-group">
              <button class="colorp">
                <a id="btn-login" href="#" class="btn" style="color: white;">Login  </a>
              </button>
            </div>
          </form>
        </div>
        
        <div class="card-footer colorp">
          Don't have an account!
          <a href="http://localhost:4200/signup" style="color: white;">Sign Up</a>
        </div>
      </div>
    </div>
  </div>

  
  