.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5px;
}
.left-sidebar{
    background-color:#DFDFDF;
    flex-basis: 20%;
    position:sticky;
    top: 100px;
    align-self: flex-start;
    
  
}
.right-sidebar{
    background-color:#DFDFDF;
    flex-basis: 25%;
    position:sticky;
    top: 100px;
    
    align-self: flex-start;
    padding: 20px;
    border-radius: 20px;
    color:#fff;
   
}

.main-content{
    flex-basis: 47%;

}
.imp-links a{
    font-family: 'Anton', sans-serif;
    font-size: medium;
    text-decoration: none;  
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    color: black;
    width: fit-content;
}

.imp-links a:last-child{
    color: blue;
}

.imp-links{
    border-bottom: 1px solid #626262;
}

.sidebar-title{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
    
}
.sidebar-title h4{
    font-family: 'Anton', sans-serif;
    font-weight: 600;
    font-size:medium;
    color:black;
    padding-top: 15px;
}

.sidebar-title a{

    text-decoration: none;
    color:blue;
    font-size: 10px;
}
.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}
.left-event{
    border-radius: 10px;
    height:65px;
    width: 65px;
    margin-right: 15px;
    text-align: center;
    position: relative;
    overflow:hidden ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event p{
    font-size: 12px;
}

.event a{
    font-size: 12px;
    text-decoration: none;
    color: rgb(246, 1, 50);
}
.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    font-size: 15px;
    padding: 2px 0 ;

}
.left-event h3{
    color: black;
    font-size: large;
    font-weight: 300;
}

.right-event h4{
    color: black;
    font-weight: 400;
    
}

.write-post-container{
    width: 100%;
    background: rgb(71, 69, 69);
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin-top: 50px;
}

.user-profile{
    display: flex;
    align-items: center;
}

.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile p{
    margin-bottom: 5px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.user-profile small{
    font-size: 12px;

}

.post-input-container{
    padding-left: 55px;
    padding-top: 20px;
}

.post-input-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;

}

.post-container{
    width: 100%;
    background: #626262;
    border-radius: 6px;
    padding:20px ;
    color: #fff;
    margin: 20px 0;
}

.user-profile span{
    font-size: 13px;
    color:#fff;

}
.post-text{
    color:#fff;
    margin: 15px 0;
    font-size: 15px;
}