

<div class="container">
    
    <div class="left-sidebar">
        <div class="imp-links">
            <a href="#" class="active">Latest Post</a>
            <a href="#">Dashboard</a>
            <a href="#">Community</a>
            <a href="#">Annocements</a>
         
            <a href="#">See More</a>
            
        </div>
    </div>
  
  
    <div class="main-content">
         <!-- <app-post-create></app-post-create>   -->
          <app-posts></app-posts>  
    
    </div>
  
  
    <div class="right-sidebar">  
        <div class="sidebar-title">
            <h4>Events</h4>
            <a href="#">See More</a>
        </div>
        <div class="event">
            <div class="left-event">
                <h3>18</h3>
                <span>March</span>
            </div>
            <div class="right-event">
              <h4>Social Media</h4>
              <a href="#">More Info</a>
          </div>
        </div>
       
                <div class="event">
                    <div class="left-event">
                        <h3>27</h3>
                        <span>June</span>
                    </div>
                    <div class="right-event">
                        <h4>Social Media</h4>
                        <a href="#">More Info</a>
                    </div>
                </div>
                <hr>
                <div class="sidebar-title">
                    <h4>Converstion</h4>
                    <a href="#">Hide Chat</a>
                </div>
  
    </div>
  <router-outlet></router-outlet>