
	<div class="about-section">
		<h1>About Us Page</h1>
		<p>Get your Queries Answered on College Quora</p>
		<p>At College Quora, you will get answer to your queries by dicussing them with your collegemates and can join the various community create of your interest.</p>
  	</div>
  
  <h1 style="text-align:center">Our Team</h1>
  <div class="col offset-sm-2">
	<div class="row">
		<div class="column">
		<div class="card">
			
			<div class="container">
			<h2>Purva Potdukhe</h2>
			<p class="title">Teammate 1</p>
			<p>pspotdukhe@mitaoe.ac.in</p>
			<p>Contact: 999999999</p>
			</div>
		</div>
		</div>
	
		<div class="column">
		<div class="card">
			
			<div class="container">
			<h2>Ritik Bhasarkar</h2>
			<p class="title">Teammate 2</p>
			<p>rbhasarkar@mitaoe.ac.in</p>
            <p>Contact: 999999999</p>
			</div>
		</div>
		</div>
	</div>
	<div class="row">
		<div class="column">
		<div class="card">
		
			<div class="container">
			<h2>Somu Sharma</h2>
			<p class="title">Teammate 3</p>
			<p>sbsharma@mitaoe.ac.in</p>
            <p>Contact: 999999999</p>
			</div>
		</div>
		</div>
		<div class="column">
			<div class="card">
		
			<div class="container">
				<h2>Shriharsh Agrawal</h2>
				<p class="title">Teammate 4</p>
				<p>saagrawal@mitaoe.ac.in</p>
                <p>Contact: 999999999</p>
			</div>
			</div>
		</div>
	</div>
</div>
