<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-link" routerLink="profile">profile</a>
      <a class="nav-link" routerLink="login">Login</a>
      <a class="nav-link disabled">Disabled</a>
    </div>
  </div>
</nav>

<!--
<div class="d-flex" id="wrapper">

    <!- Sidebar --
    <div class="bg-dark border-right" id="sidebar-wrapper">
      <div class="sidebar-heading text-light"><h3>College Quora</h3></div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-dark text-light">Dashboard</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-light">Shortcuts</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-light">Overview</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-light">Events</a>
        <a routerLink="profile" class="list-group-item list-group-item-action bg-dark text-light">Profile</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-light">Status</a>
      </div>
    </div>
    <!-/#sidebar-wrapper --
    <div id="container-fluid">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <button class="btn btn-dark" id="menu-toggle">
              <i class="bi bi-toggle-on"></i>
              <span> Interests</span>
            </button>
          </div>
      </nav>
      
    </div>
  -->
    <router-outlet></router-outlet>
    
    
 