


<main>
    <app-navbar></app-navbar>
<router-outlet></router-outlet>
</main>

 <!-- <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link " routerLink="home">Home</a>
      <a class="nav-link" routerLink="profile">Profile</a>
      <a class="nav-link" routerLink="login">Login</a>
      <a class="nav-link disabled">Disabled</a>
    </div>
  </div>
</nav> -->

<!-- 
<div class="container">
    
  <div class="left-sidebar">
      <div class="imp-links">
          <a href="#">Latest Post</a>
          <a href="#">Dashboard</a>
          <a href="#">Community</a>
          <a href="#">Annocements</a>
          <a href="#">About us</a>
          <a href="#">See More</a>
      </div>
  </div>


  <div class="main-content">
      <app-post-create></app-post-create>
      <app-posts></app-posts>
      
  </div>


  <div class="right-sidebar">
      <div class="sidebar-title">
          <h4>Events</h4>
          <a href="#">See More</a>
      </div>
      <div class="event">
          <div class="left-event">
              <h3>18</h3>
              <span>March</span>
          </div>
      </div>
          <div class="right-event">
              <h4>Social Media</h4>
              <a href="#">More Info</a>
              </div>
      
              <div class="event">
                  <div class="left-event">
                      <h3>27</h3>
                      <span>June</span>
                  </div>
                  <div class="right-event">
                      <h4>Social Media</h4>
                      <a href="#">More Info</a>
                  </div>
              </div>
              <div class="sidebar-title">
                  <h4>Converstion</h4>
                  <a href="#">Hide Chat</a>
              </div>

  
    
</div>   
    -->
