<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link " routerLink="home">Home</a>
      <a class="nav-link" routerLink="profile">Profile</a>
      <a class="nav-link" routerLink="login">Login</a>
      <a class="nav-link disabled">Disabled</a>
    </div>
  </div>
</nav>

<!--
<div class="d-flex" id="wrapper">

    
    <div class="bg-dark border-right" id="sidebar-wrapper">
      <div class="sidebar-heading text-light"><h3>College Quora</h3></div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-dark text-light">Dashboard</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-light">Shortcuts</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-light">Overview</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-light">Events</a>
        <a routerLink="profile" class="list-group-item list-group-item-action bg-dark text-light">Profile</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-light">Status</a>
      </div>
    </div>
    
    <div id="container-fluid">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <button class="btn btn-dark" id="menu-toggle">
              <i class="bi bi-toggle-on"></i>
              <span> Interests</span>
            </button>
          </div>
      </nav>
      
    </div>
  -->

  
<div class="container">
    
  <div class="left-sidebar">
      <div class="imp-links">
          <a href="#">Latest Post</a>
          <a href="#">Dashboard</a>
          <a href="#">Community</a>
          <a href="#">Annocements</a>
          <a href="#">About us</a>
          <a href="#">See More</a>
      </div>
  </div>


  <div class="main-content">
      <app-post-create></app-post-create>
      <app-posts></app-posts>
      
  </div>


  <div class="right-sidebar">
      <div class="sidebar-title">
          <h4>Events</h4>
          <a href="#">See More</a>
      </div>
      <div class="event">
          <div class="left-event">
              <h3>18</h3>
              <span>March</span>
          </div>
          
          <div class="right-event">
              <h4>Social Media</h4>
              <a href="#">More Info</a>
              </div>
      </div>
              <div class="event">
                  <div class="left-event">
                      <h3>27</h3>
                      <span>June</span>
                  </div>
                  <div class="right-event">
                      <h4>Social Media</h4>
                      <a href="#">More Info</a>
                  </div>
              </div>
      <div class="sidebar-title">
                  <h4>Converstion</h4>
                  <a href="#">Hide Chat</a>
              </div>

  
    <router-outlet></router-outlet>
    
    
 