.write-post-container{
    width: 100%;
    background: rgb(71, 69, 69);
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin-top: 50px;
}

.user-profile{
    display: flex;
    align-items: center;
    padding-top: 30px;
}
mat-paginator{
    margin-top: 1rem;
}

mat-spinner{
    margin: auto;
}



.user-profile p{
    margin-bottom: 5px;
    font-weight: 600;
    font-size: medium;
    font-family: 'Anton', sans-serif;
font-family: 'Baloo 2', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Questrial', sans-serif;
    color: rgb(32, 30, 30);
}

.user-profile h4{
    font-size: small;
    color: black;
}

.user-profile small{
    font-size: 12px;
   
}

.post-input-container{
    padding-left: 55px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.post-input-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
  

}

.post-container{
    width: 100%;
    background: rgb(192, 192, 192);
    border-radius: 6px;
    padding:20px ;
    color: rgb(7, 7, 7);
    display:block;
    margin-top: 1rem ;
    font-family: 'Anton', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Questrial', sans-serif;
}


.post-text{
    color:#fff;
    margin: 15px 0;
    font-size: 15px;
}

:host{
    display: block;
    margin-top: 1rem;
}
 
.info-text{
    text-align: center;
    font-weight: 600;
    font-size:medium;
    color: whitesmoke;
}